<nav class="navbar navbar-default" id="route-navbar" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header babel-header">
      <a class="navbar-brand route-brand" href="/"><%= image_tag "logo.png", class: "route-brand-img", :style=>"width:300px;" %></a>
    </div>

  </div><!-- /.container-fluid -->
</nav>