<nav class="navbar navbar-default" id="route-navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header babel-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand route-brand" href="/"><%= image_tag "logo.png", class: "route-brand-img", :style=>"width:300px;" %></a>
    </div>

  </div><!-- /.container-fluid -->
</nav>